.container,
.related {
  composes: container from 'src/styles/modules/utils.module.css';
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.intro {
  margin-top: 0.25rem;
}
.intro > p {
  margin: 1.25rem 0 0;
}
.intro > blockquote {
  margin: 1.25rem 0.75em 0;
}
.intro p,
.mdx p,
.mdx li {
  line-height: 1.75;
  letter-spacing: 0.05em;
}
.mdx > p {
  margin: 1.25rem 0;
}
.title {
  @mixin $text-5xl;
  margin: 1.25em 0 0;
  text-align: left;
}
.mdx img {
  border-radius: var(--border-radius);
}
.mdx,
.intro {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /*word-break: break-word;*/
  hyphens: auto;
}
.toc > h2,
.mdx > h1,
.mdx > h2,
.related > h2 {
  margin: 1.5em 0 0.75em;
}
.mdx > h3,
.mdx > h4,
.mdx > h5 {
  margin: 2.5rem 0 1.25rem;
}
.toc > h2,
.mdx > h2,
.related > h2 {
  letter-spacing: 0;
}
.intro code,
.mdx > h1 code,
.mdx > h2 code,
.mdx > h3 code,
.mdx > h4 code,
.mdx > h5 code,
.mdx > p code,
.mdx > div > p code,
.container blockquote > p > code,
.mdx > ul li > p > code,
.mdx > ol li > p > code {
  font-size: 0.9em;
  padding: 0.1em 0.3em;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  @mixin isDark {
    box-shadow: var(--shadow-dark);
    background-color: #000;
  }
}
.container blockquote {
  padding: 0.5em 0.75em;
  background-color: var(--gray-100-l);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: 5px solid var(--gray-300-l);
  @mixin isDark {
    background-color: var(--black-400);
    border-left-color: var(--gray-800);
  }
}
.mdx blockquote {
  margin: 1.25em 0.75em;
}
.meta {
  margin-top: 1.5rem;
  @mixin $text-sm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}
.imgWrapper {
  margin-top: 1.5rem;
  object-position: center;
  width: 100%;
  height: auto;
}
.layoutColabGithub {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
.mdx a,
.intro a {
  color: var(--blue-300);
  @mixin isDark {
    color: var(--blue-200);
  }
}
.layoutColabGithub > div {
  margin-bottom: 0.75rem;
}
.layoutColabGithub > div > a {
  display: flex;
  flex-direction: row;
  font-family: var(--font-mono);
  letter-spacing: -0.02em;
  @mixin $text-xs;
  align-items: center;
  font-weight: 500;
  cursor: ne-resize;
}
.layoutColabGithub > div > a > svg {
  font-size: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  fill: currentColor;
  @mixin isDark {
    fill: currentColor;
  }
}
.layoutColabGithub > div:not(:last-of-type) {
  margin-right: 1.5rem;
}
.meta > span:not(:last-of-type) {
  margin-right: 1rem;
}
.mdx > ul {
  padding-left: 25px;
  margin: 0;
  list-style-type: disc;
}
.mdx > ul > li::marker,
.toc > nav > ul li::marker {
  color: var(--gray-300-l);
  @mixin isDark {
    color: var(--gray-600);
  }
}
.tocAside,
.tocAsideTransparent {
  transition: opacity var(--transition-duration);
  position: fixed;
  width: 14rem;
  max-height: calc(100vh - 8rem);
  top: 3rem;
  left: calc(50vw + 400px);
  overflow: auto;
}
.tocAside {
  opacity: 0.25;
}
.tocAsideTransparent {
  opacity: 0;
}
.tags {
  margin-top: 0.75rem;
}
.tags > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}
.tags > ul > li {
  margin: 0 0.75rem 0 0;
}
.tags > ul > li > div > a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.9;
  color: var(--blue-300);
  @mixin isDark {
    color: var(--blue-200);
  }
}
.toc > nav > ul > li > a {
  @mixin $text-base;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.tocAside > h2,
.tocAsideTransparent > h2,
.tocAside > nav > ul li,
.tocAsideTransparent > nav > ul li {
  @mixin $text-sm;
}
.tocAside > h2,
.tocAsideTransparent > h2 {
  margin: 0;
  padding: 0 0.5rem 0.3rem calc(1rem + 3px);
}
.tocAside > nav ul,
.tocAsideTransparent > nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.tocAside > nav > ul li,
.tocAsideTransparent > nav > ul li {
  margin: 0;
}
.toc > nav ul {
  padding-left: 1.5rem;
  margin: 0;
}
.toc > nav > ul {
  list-style-type: disc;
}
.toc > nav > ul > li > ul {
  list-style-type: none;
}
.mdx,
.intro,
.toc > nav > ul li > a,
.tocAside > nav > ul li > a {
  color: var(--text-article);
  @mixin isDark {
    color: var(--text-article-dark);
  }
}
.tocAside > nav > ul li > a,
.tocAsideTransparent > nav > ul li > a {
  display: block;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: 3px solid var(--gray-200-l);
  @mixin isDark {
    border-color: var(--black-200);
  }
}
.tocAside > nav > ul > li > a,
.tocAsideTransparent > nav > ul > li > a {
  padding: 0.3rem 0.5rem 0.3rem 1rem;
}
.tocAside > nav > ul > li > ul > li > a,
.tocAsideTransparent > nav > ul > li > ul > li > a {
  padding: 0.3rem 0.5rem 0.3rem 2rem;
}

.hr {
  margin-top: 3.75rem;
  border-top: 1px solid var(--gray-200-l);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 60vw;
  max-width: 350px;
  @mixin isDark {
    border-color: var(--black-300);
  }
}
.toc > nav > ul > li > ul > li,
.toc > nav > ul > li:not(:first-of-type) {
  margin-top: 0.75rem;
}
.tags a:hover,
.mdx a:hover,
.intro a:hover,
.toc a:hover,
.tocAside a:hover,
.layoutColabGithub a:hover {
  text-decoration: underline;
}
.tags a:active {
  color: #000;
  @mixin isDark {
    color: #fff;
  }
}
.tags a:visited {
  color: #bb2bb9;
  @mixin isDark {
    color: #c586c0;
  }
}
.mdx a:active,
.intro a:active {
  color: #000;
  @mixin isDark {
    color: #fff;
  }
}
.intro a:active,
.mdx p a:visited {
  color: #bb2bb9;
  @mixin isDark {
    color: #c586c0;
  }
}
.layoutColabGithub > div > a:hover {
  color: #000;
  @mixin isDark {
    color: #fff;
  }
}
.tocAside:hover {
  opacity: 1;
}
.tocAside > nav ul > li > a:hover {
  background-color: var(--gray-200-l);
  color: #000;
  text-decoration: none;
  border-left-color: #000;
  @mixin isDark {
    color: #fff;
    background-color: var(--black-200);
    border-left-color: #fff;
  }
}
.toc {
  display: none;
}
@media (--laptop-m) {
  .tocAside {
    display: none;
  }
  .toc {
    display: unset;
  }
}
@media (--laptop) {
  .tags > ul > li {
    margin-bottom: 0.25rem;
  }
  .toc > nav > ul > li > ul > li,
  .toc > nav > ul > li:not(:first-of-type) {
    margin-top: 1rem;
  }
}
@media (--tablet) {
  .title {
    @mixin $text-4xl;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .hr {
    margin-top: 3rem;
  }
}
@media (--mobile-s) {
  .title {
    @mixin $text-3xl;
  }
}
